<!--? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="/user_assets/img/logo/logo.png" alt="img">
            </div>
        </div>
    </div>
</div>
<!-- Preloader ends -->
<header>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header header-sticky">
            <div class="container-fluid">
                <div class="menu-wrapper">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="/"><img src="/user_assets/img/logo/logo.png" alt=""></a>
                    </div>
                    <!-- Main-menu -->
                    <div class="main-menu d-none d-lg-block">
                        <nav>                                                
                            <ul id="navigation">  
                                <li><a href="/">Home</a></li>
                                <li><a href="/newarrival">shop</a></li>
                                <!-- <li><a href="about.html">about</a></li> -->
                                <li class="hot"><a href="/">Latest</a>
                                   
                                </li>
                                <!-- <li><a href="blog.html">Blog</a>
                                    <ul class="submenu">

                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="blog-details.html">Blog Details</a></li>
                                    </ul>
                                </li> -->



                                <!-- <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Categories
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <% categories.filter(category => category.status !== false).forEach(category => { %>
                                            <li>
                                                <a class="dropdown-item" href="/shop?category=<%= category._id %>">
                                                    <%= category.name %>
                                                </a>
                                            </li>
                                        <% }); %>
                                    </ul>
                                </li> -->

                                
                                <li><a href="/">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Header Right -->
                    <div class="header-right">
                        <ul>
                            <li>
                                <div class="nav-search">
                                    <form action="/search" method="post" class="search-form">
                                        <input type="text" name="searchproduct" placeholder="Search..." class="search-input">
                                        <button type="submit" class="search-button">Search</button>
                                    </form>
                                </div>
                            </li>
                            <li style="padding-left: 22px;"><a href="/profile"><span class="flaticon-user"></span></a></li>
                            <!-- Sample code in navbar.ejs -->
                            <li>
                                <a href="/favourite">
                                    <span style="padding-left: 31px; padding-right: 0px;" class="flaticon-heart"></span>
                                   
                                    <% if (favQuantity > 0) { %>
                                        <span id="badge" style="background-color: red;color: white; padding: 0px 2px;" class="badge"><%= favQuantity %></span>
                                    <% } %>
                                    
                                </a>
                            </li>
                            

<li>
    <a href="/cart">
        <span style="padding-left: 31px; padding-right: 0px;" class="flaticon-shopping-cart"></span>
        
        <% if (totalQuantity > 0) { %>
            <span id="cart-badge" class="badge" style="background-color: red;color: white ; padding: 0px 2px;"><%= totalQuantity %></span>
        <% } %>
    </a>
</li>


                        </ul>
                    </div>
                    
                </div>
                <!-- Mobile Menu -->
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Sub-Navbar Start -->
<div class="sub-navbar">
    <ul>
        <% categories.filter(category => category.status !== false).forEach(category => { %>
            <li><a href="/shop?category=<%= category._id %>"><%= category.name %></a></li>
        <% }); %>
    </ul>
</div>
<!-- Sub-Navbar End -->
</header>