<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="css/tiny-slider.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="user_assets/img/favicon.ico">

    <link rel="stylesheet" href="/user_assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/user_assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/user_assets/css/flaticon.css">
    <link rel="stylesheet" href="/user_assets/css/slicknav.css">
    <link rel="stylesheet" href="/user_assets/css/animate.min.css">
    <link rel="stylesheet" href="/user_assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/user_assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/user_assets/css/themify-icons.css">
    <link rel="stylesheet" href="/user_assets/css/slick.css">
    <link rel="stylesheet" href="/user_assets/css/nice-select.css">
    <link rel="stylesheet" href="/user_assets/css/style.css">
  <style>
        .personal-details p{
      font-size: large;
      color: black;
      font-weight: 400;/
    }
    .address-section {
    border: 1px solid #000000;
    min-width: 69vh;
    border-radius: 10px; 
    margin-bottom: 10px;
    padding: 10px;
    position: relative; /* Position relative for absolute positioning of icons */
}

.address-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.address-list {
    font-size: 12px;
    margin-bottom: 10px;
}

.address-list p {
    font-size: 30px;
    font-weight: 200;
    margin: 0;
}

.edit {
    margin-right: 20px;
}


.section-container {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 1px;
}
.passwordForm{
  margin-top: 12vh;
}

@media (min-width: 768px) {
    .section-half {
        flex: 0 0 calc(50% - 15px);
        margin-right: 30px;
        margin-bottom: 20px;
    }
}

#lineone {
    min-height: 50vh;
}

.section-container {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .section-container {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px; /* Adjust the left margin */
        margin-right: -15px; /* Adjust the right margin */
    }

    .section-half {
        flex: 0 0 calc(50% - 15px); /* Two sections in one row with margin */
        margin-right: 30px; /* Adjust the gap between sections */
        margin-bottom: 20px; /* Adjust the bottom margin */
    }
}

.category-options {
    display: none;
}





  </style>


    <title>Edit Profile</title>
</head>
<body>
    <!-- header -->
    <%- include('userpartial/nav', { categories: categories }) %>

      <!-- Start Hero Section -->



      <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Edit Address
                    </div>
                    <div class="card-body">
                        <form action="/updateAddress/<%= address._id %>" method="POST" class="address-form">
                            <!-- Address Fields with values pre-filled -->
                            <div class="form-group">
                                <label for="saveas">Save as:</label>
                                <input type="text" id="saveas" name="saveas" class="form-control" value="<%= address.saveas %>" required>
                                
                               
                            </div>
                         
                            <div class="form-group">
                                <label for="fullname">Full Name:</label>
                                <input type="text" id="fullname" name="fullname" class="form-control" value="<%= address.fullname %>" required>
                                
                               
                            </div>

                            <div class="form-group">
                                <label for="adname">House Name/Flat No :</label>
                                <input type="text" id="adname" name="adname" class="form-control" value="<%= address.adname %>" required>
                                
                               
                            </div>

                            <div class="form-group">
                                <label for="street">Street:</label>
                                <input type="text" id="street" name="street" class="form-control" value="<%= address.street %>">
                                
                                
                            </div>

                            <div class="form-group">
                                <label for="city">City:</label>
                                <input type="text" id="city" name="city" class="form-control" value="<%= address.city %>" required>
                                
                                
                            </div>

                            <div class="form-group">
                                <label for="state">State:</label>
                                <input type="text" id="state" name="state" class="form-control" value="<%= address.state %>" required>
                                
                                
                            </div>

                            <div class="form-group">
                                <label for="pincode">Pin Code:</label>
                                <input type="text" id="pincode" name="pincode" class="form-control" value="<%= address.pincode %>" required>
                               
                                
                            </div>

                            <div class="form-group">
                                <label for="country">Country:</label>
                                <input type="text" id="country" name="country" class="form-control" value="<%= address.country %>" required>
                                
                               
                            </div>
                            <div class="form-group">
                                <label for="phonenumber">Phone:</label>
                                <input type="number" id="phonenumber" name="phonenumber" class="form-control" value="<%= address.phonenumber %>" required>
                                
                                
                                
                            </div>

                            <button type="submit" class="btn btn-primary">Update Address</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- footer -->
        <!--? Shop Method Start-->
        <div class="shop-method-area">
            <div class="container">
                <div class="method-wrapper">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40">
                                <i class="ti-package"></i>
                                <h6>Free Shipping Method</h6>
                                <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40">
                                <i class="ti-unlock"></i>
                                <h6>Secure Payment System</h6>
                                <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                            </div>
                        </div> 
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40">
                                <i class="ti-reload"></i>
                                <h6>Secure Payment System</h6>
                                <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shop Method End-->
        <%-include('userpartial/footer')%>
    
        <!-- Footer End-->

        		<!-- End Footer Section -->	
<!-- End Footer Section -->	
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>












    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/tiny-slider.js"></script>
    <script src="js/custom.js"></script>

</body>
<script src="/user_assets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="/user_assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/user_assets/js/popper.min.js"></script>
<script src="/user_assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="/user_assets/js/jquery.slicknav.min.js"></script>
<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/user_assets/js/owl.carousel.min.js"></script>
<script src="/user_assets/js/slick.min.js"></script>

<!-- One Page, Animated-HeadLin -->
<script src="/user_assets/js/wow.min.js"></script>
<script src="/user_assets/js/animated.headline.js"></script>
<script src="/user_assets/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="/user_assets/js/jquery.scrollUp.min.js"></script>
<script src="/user_assets/js/jquery.nice-select.min.js"></script>
<script src="/user_assets/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="/user_assets/js/contact.js"></script>
<script src="/user_assets/js/jquery.form.js"></script>
<script src="/user_assets/js/jquery.validate.min.js"></script>
<script src="/user_assets/js/mail-script.js"></script>
<script src="/user_assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/user_assets/js/plugins.js"></script>
<script src="/user_assets/js/main.js"></script>






</html>