<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Watch shop | eCommers</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/user_assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css">
    <link rel="stylesheet" href="/user_assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/user_assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/user_assets/css/flaticon.css">
    <link rel="stylesheet" href="/user_assets/css/slicknav.css">
    <link rel="stylesheet" href="/user_assets/css/animate.min.css">
    <link rel="stylesheet" href="/user_assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/user_assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/user_assets/css/themify-icons.css">
    <link rel="stylesheet" href="/user_assets/css/slick.css">
    <link rel="stylesheet" href="/user_assets/css/nice-select.css">
    <link rel="stylesheet" href="/user_assets/css/style.css">
    <link rel="stylesheet" href="/user_assets/css/magiczoom.css">
   
    <script src="/user_assets/js/magiczoom.js"></script>




    <!-- <script>
        function getStars(rating) {
            const fullStars = Math.floor(rating);
            const halfStar = rating % 1 !== 0;
    
            const stars = '★'.repeat(fullStars) + (halfStar ? '½' : '');
    
            return stars;
        }
    </script> -->
    <style>


.user-name {
  font-weight: bold;
  margin-bottom: 5px;
}





hr {
  border: 0.5px solid #ddd;
}




  .product-details-section {
            width: calc(55% - 25px); /* Adjusted width with right margin */
            padding: 20px;
            text-align: left;
            background-color: #fff; /* Set the background color you want */
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow for a card-like appearance */
            margin-right: 25px; /* Right margin */
            z-index: 2; /* Ensure the product details card is above the images */
        }

        /* Tiny Slider Container */
        #product-slider {
            position: relative;
            overflow: hidden;
        }







        .product-container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin: 20px;
        }


        .product-details {
            width: 55%;
            padding: 20px;
            text-align: left;
        }


        

        .product-details {
            padding: 20px;
            text-align: left;
        }

        .specifications ul li {
        margin-bottom: 20px; 
        }


        h1 {
            font-size: 2rem;
            margin-bottom: 10px;
            color: #333;
        }

        .category-options {
            display: none;
        }

       
        .buttons-row {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px; /* Adjust the top margin as needed */
        }

        .buttons-row button {
            margin-right: 10px; /* Add some space between the buttons if needed */
        }

        /* Style for Tiny Slider controls (previous and next buttons) */
.tns-controls button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
}

.tns-controls button:hover {
    background-color: #555;
}


        .price {
            font-size: 1.5rem;
            color: #e44d26;
            margin-bottom: 10px;
        }

        p {
            font-size: 1rem;
            color: #555;
            margin-bottom: 15px;
        }

        .description {
            line-height: 1.5;
        }

        .fa-star {
            color: #f39c12;
        }

        nav {
            background-color: white;
            padding: 10px;
            color: white;
            text-align: center;
        }

        .det {
            padding-top: 2cm;
        }

        footer {
            padding: 10px;
            color: white;
            text-align: center;
            margin-top: auto;
        }

        .fulldiv {
            width: 100vw;
        }

        .product-image {
            width: 500px;
        }

        .product-image img {
            width: auto;
            height: 500px;
            margin-bottom: 10px;
            cursor: pointer;
            border: 2px solid transparent;
            border-radius: 4px;
            transition: border 0.3s ease-in-out;
        }

.product-item {
    text-decoration: none;
    color: #333;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-bottom: 1px solid #ddd;
}

.card-body {
    padding: 10px;
    text-align: center;
}

.product-title {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.product-price {
    font-size: 1rem;
    color: #e44d26;
    margin-bottom: 0;
}

/* media query */
     /* Media Queries */
     @media only screen and (max-width: 576px) {
            .fulldiv {
                margin: 10px;
            }

            .product-container {
                flex-direction: column;
                align-items: center;
            }

            .product-image {
                width: 100%;
            }

            .product-image img {
                height: auto;
                width: 100%;
            }

            .product-details-section {
                width: 100%;
                margin-right: 0;
            }
        }

        @media only screen and (max-width: 768px) {
            /* Add styles for medium-sized devices */
            /* Adjust styles as needed */
        }

        @media only screen and (max-width: 992px) {
            /* Add styles for large-sized devices */
            /* Adjust styles as needed */
        }


    </style>
</head>

<body>

    <%-include('userpartial/nav')%>
    
    <div style="margin: 30px 30px 30px 30px ;" class="fulldiv my-5 d-flex justify-content-center">
        <div class="product-container">
            <div class="product-image" >
                <div id="product-slider" class="tns-slider">
                    <% product.images.forEach((image, index) => { %>                        
                        <a href="/<%= image %>"  class="MagicZoom " id="Mag">
                            <img src="/<%= image %>" alt="<%= product.name %> Image" class="img-fluid">
                        </a>                        
                    <% }); %>
                </div>
                
            </div>



            



            <!-- Product Details Section -->
            
                <div class="product-details-section">
                    <div class="row">
                        <h1 class="col-12"><%= product.name %></h1>
                        <p class="col-12 d-flex justify-content-end">
                           <% if (product.userRatings && product.userRatings.length > 0) { %>
                <span id="ratingContainer" class="rating-container">
                    ★&nbsp;<span id="avgrating"><%= averageRating %> </span>&nbsp;<span>(<%= totalRatings %>)</span>
                </span>
            <% } else { %>
                <p>No ratings yet</p>
            <% } %>
            
                        </p>
                    </div>
                    <p class="price"><span style="text-decoration: line-through;color: #857b79;">Rs.<%= product.mrp.toFixed(2) %></span>&nbsp;&nbsp;&nbsp;Rs.<%= product.price.toFixed(2) %></p>
                    <div class="description">
                        <p><strong>Description:</strong></p>
                        <p><%= product.descriptions %></p>
                    </div>
                

<!-- Specifications Section -->
<div class="specifications">
    <p><strong>Specifications:</strong></p>
    <ul>
        <% if (product.dimensions) { %>
        <li><strong>Dimensions:</strong> <%= product.dimensions %>mm</li>
    <% } %>
        <% if (product.dialcolour) { %>
            <li><strong>Dail Colour:</strong> <%= product.dialcolour %> </li>
        <% } %>
        <% if (product.strapcolour) { %>
            <li><strong>Strap Color:</strong> <%= product.strapcolour %> </li>
        <% } %>
        <% if (product.framematerial) { %>
            <li><strong> Frame Materials:</strong> <%= product.framematerial %> </li>
        <% } %>
        <% if (product.strapmaterial) { %>
            <li><strong>Strap Material:</strong> <%= product.strapmaterial %> </li>
        <% } %>
        <% if (product.manufacture) { %>
            <li><strong>Manufacturer:</strong> <%= product.manufacture %> </li>
        <% } %>
        <!-- Add more specifications as needed -->
    </ul>
</div>

                <div class="buttons-row">
                    <% if (product.stock > 0) { %>
                        <a href="/addtocart/<%= product._id %>"><button class="btn btn-danger">
                                <span class="fas fa-shopping-cart"></span> Add to Cart
                            </button></a>
                    <% } else { %>
                        <button class="btn btn-danger" disabled>
                            Out of Stock
                        </button>
                    <% } %>
                    <a href="/addtofavourite/<%=product._id%>"><button class="btn btn-danger">
                            <span class="fas fa-heart"></span> Add to Wishlist
                        </button></a>
                </div>
            </div>
        </div>
        
        
    </div>
    <div class="container mt-3">
        <button style="margin-left: 30vw; margin-bottom: 1.5vw;" id="toggleRatingsBtn" class=" ml-5 btn btn-primary"> User Ratings and Reviews</button>

    
        <div class="user-ratings-section" id="ratingsSection" style="display: none;">

            <div class="row">
                <% if (locals.product.userRatings && product.userRatings.length > 0) { %>
                <% product.userRatings.forEach(userRating => { %>
                    <div class=" col-md-4 col-lg-6 " >
                        <div class="user-rating">
                            <p class="user-name"><strong>User:</strong> <%= userRating.userId.firstname %></p>
                            <div class="rating">
                                <p><strong>Rating:</strong> <%= userRating.rating %> <%= '★'.repeat(Math.floor(userRating.rating)) + (userRating.rating % 1 !== 0 ? '½' : '') %></p>
                            </div>
                            <p class="review"><strong>Review:</strong> <%= userRating.review %></p>
                            <hr>
                        </div>
                    </div>
                <% }); %>
                <% } else { %>
                    <p>No ratings yet</p>

                <% } %>

            </div>
        </div>
    </div>
    <%-include('userpartial/footer')%>

    


    <!-- <script>
        var ratingsSection = document.getElementById('ratingsSection');
        var toggleRatingsBtn = document.getElementById('toggleRatingsBtn');
    
        toggleRatingsBtn.addEventListener('click', function () {
            if (ratingsSection.style.display === 'none') {
                ratingsSection.style.display = 'block';
            } else {
                ratingsSection.style.display = 'none';
            }
        });
    </script> -->
    
    <script>
        const aveRating = parseFloat(document.getElementById('avgrating').innerText);

        console.log(aveRating);
      
        const ratingContainer = document.getElementById('ratingContainer');
      
        if (aveRating >= 4) {
          ratingContainer.style.backgroundColor = 'green';
          ratingContainer.style.borderRadius =" 14px";
          ratingContainer.style.color = 'white';

        } else if (aveRating >= 3 && aveRating <= 3.9) {
          ratingContainer.style.backgroundColor = "yellow";
          ratingContainer.style.borderRadius =" 14px";
        } else if (aveRating >= 2 && aveRating <= 2.9) {
          ratingContainer.style.backgroundColor = 'orange';
          ratingContainer.style.borderRadius =" 14px";
        } else if (aveRating >= 0 && aveRating <= 1.9) {
          ratingContainer.style.backgroundColor = 'red';
          ratingContainer.style.borderRadius =" 14px";
          ratingContainer.style.color = 'white';

        }
      </script>

    
        <!-- End Footer Section -->

        
  
        <script src="/user_assets/js/vendor/modernizr-3.5.0.min.js"></script>
        <!-- Jquery, Popper, Bootstrap -->
        <script src="/user_assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="/user_assets/js/popper.min.js"></script>
        <script src="/user_assets/js/bootstrap.min.js"></script>
        <!-- Jquery Mobile Menu -->
        <script src="/user_assets/js/jquery.slicknav.min.js"></script>
    
        <!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="/user_assets/js/owl.carousel.min.js"></script>
        <script src="/user_assets/js/slick.min.js"></script>
    
        <!-- One Page, Animated-HeadLin -->
        <script src="/user_assets/js/wow.min.js"></script>
        <script src="/user_assets/js/animated.headline.js"></script>
        <script src="/user_assets/js/jquery.magnific-popup.js"></script>
    
        <!-- Scrollup, nice-select, sticky -->
        <script src="/user_assets/js/jquery.scrollUp.min.js"></script>
        <script src="/user_assets/js/jquery.nice-select.min.js"></script>
        <script src="/user_assets/js/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="/user_assets/js/contact.js"></script>
        <script src="/user_assets/js/jquery.form.js"></script>
        <script src="/user_assets/js/jquery.validate.min.js"></script>
        <script src="/user_assets/js/mail-script.js"></script>
        <script src="/user_assets/js/jquery.ajaxchimp.min.js"></script>
        
        <!-- Jquery Plugins, main Jquery -->	
        <script src="/user_assets/js/plugins.js"></script>
        <script src="/user_assets/js/main.js"></script>
        
   


        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/tiny-slider.js"></script>
        <script src="https://cdn.rawgit.com/elevateweb/elevatezoom/master/src/jquery.elevatezoom.js"></script>
        
        <script src="/js/custom.js"></script>
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/min/tiny-slider.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var slider = tns({
                    container: '#product-slider',
                    items: 1,
                    slideBy: 'page',
                    autoplay: false,
                    controls: true,
                    nav: false,
                    prevButton: document.querySelector('.custom-prev-control'),
            nextButton: document.querySelector('.custom-next-control'),
      
                 
                });
                 var prevButton = document.querySelector('.tns-controls button[data-controls="prev"]');
        var nextButton = document.querySelector('.tns-controls button[data-controls="next"]');
    
        if (prevButton) {
            prevButton.innerHTML = '<'; 
        }
    
        if (nextButton) {
            nextButton.innerHTML = '>'; 
        }
            });
    
    
           
        </script>
        <script>
            var ratingsSection = document.getElementById('ratingsSection');
            var toggleRatingsBtn = document.getElementById('toggleRatingsBtn');
        
            toggleRatingsBtn.addEventListener('click', function () {
                if (ratingsSection.style.display === 'none') {
                    ratingsSection.style.display = 'block';
                } else {
                    ratingsSection.style.display = 'none';
                }
            });
        </script>
    

    
       
</body>

</html>
